.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.accordion {
    width: 100%;
}

.accordion-item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

.accordion-title {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.accordion-title:hover {
    background-color: rgb(235, 170, 15);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px; /* Maintain padding for content visibility */
    opacity: 0; /* Start with content hidden */
    transition: max-height 1s ease-out, padding 1s ease-out, opacity 0.5s ease-out;
}

.accordion-item input[type="checkbox"] {
    display: none;
}

.accordion-item input[type="checkbox"]:checked ~ .accordion-content {
    max-height: 500px; /* Adjust this value as needed */
    padding: 15px;
    opacity: 1; /* Show content */
    background-color: rgba(0, 0, 0, 0.9);
}

.item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.item p {
    display: inline;
    max-width: 250px;
}

.item:hover {
    background-color: rgba(255, 0, 0, 0.2); /* Soft red background on hover */
}

.item-options {
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
}

.item:hover .item-options {
    display: block; /* Show options on hover */
}

.item-options a {
    color: white;
    margin: 0 5px;
}

@media (max-width:500px) {
    .item p {
        display: inline;
        max-width: 150px;
    }
    .no-ver {
        display: none;
    }
}

@media (min-width:500px) {
    .accordion {
        width: 450px;
    }
}