* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

header {
    display: flex;
    position: relative;
    width: 100vw;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

i, p, span {
    color: rgb(239, 221, 21);
}

.logo {
    width: 50px;
}

ul {
    display: flex;
}

li {
    margin: 0 5px;
}

a {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: white;
    margin: 10px;
    text-align: center;
}

h3 {
    color: white;
}

p {
    color: white;
}

.galeria {
    text-align: center;
}

.slider {
    margin-top: 20px;
    display: flex;
    width: 90vw;
    justify-content: center;
    overflow: hidden;
}

.slider--iner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.3s ease-in;
    size-adjust: 100%;
}

img {
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-1, .card-2, .card-3, .card-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 40vw;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: transform 0.3s ease-in;
}

.card:hover {
    transform: scale(1.3);
}

.comentarios {
    margin-bottom: 35px;
}

.commits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commit {
    display: flex;
    width: 90vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 5px 0;
}

.commit img {
    width: 50px;
    margin: 10px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 35px;
    transition: background-color 1s ease;

}

.fa-brands {
    margin: 10px;
}

.social-media:target {
    animation: bounce 5s ease-in;    
}

/* .social-media:target div span, .social-media:target div i {
    color: rgb(239, 221, 21)
} */

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
        
        
    }
    30%, 70% {
        transform: translateY(-50vh);
        background-color: #f0f0f0;
    }
    
}

@media (min-width: 750px){
    .slider {
        width: 600px;
        
    }
}